
syntax: glob

*.class
*.orig
*.bak
*.eml
*~
build/
generated_css/
generated_js/

tsconfig.json
wdio.conf.js
generated_e2e/

javadoc/

.idea/

out/production

*-local.xml
.DS_Store
.sass-cache/*
Thumbs.db

*libraries.xlsx

scripts/*/bin/*
scripts/*/.settings/*

*-junit-test*.log

exercises/*
bin/.project

.hprof

*.css.map
*.js.map

packaging/target
packaging/build-custom.properties
webapp/src/main/webapp/WEB-INF/classes
webapp/src/main/webapp/WEB-INF/lib
packaging/development-workspaces
packaging/TEST-*.xml
jshint-all-*.txt
**/config/*.jks

npm-debug.log
out

# see .gitattributes
/CHANGELOG.md

# Gradle build files
.gradle/
.gradletasknameche
gradle.properties
pluginDescriptor.json

# Logback
logback-custom.xml

# Local application.properties
application-test-local.properties
application-test-local.yml
/release-notes/release-notes.iml
/cplace-examples.iml
